<div class="bg-[var(--background)] overflow-auto">

  <!-- Header -->
  <div
    class="sticky top-0 z-10 bg-[color-mix(in_srgb,var(--background)_50%,transparent)] backdrop-blur-sm min-h-[56px] flex items-center p-2">
    <div (click)="navigateBack()" class="rounded-full text-[--foreground] hover:bg-[--border] size-10 flex items-center justify-center">
      <ion-icon name="chevron-back-outline" class="w-[24px] h-[48px]"></ion-icon>
    </div>

    <h1 class="text-2xl text-[--muted-foreground] font-bold absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">Product Details</h1>
  </div>

  <div class="flex flex-col gap-4">

    <!-- Product Image Card -->
    <div class="p-4 shadow-[0_4px_10px_rgba(0,0,0,0.5)] rounded-3xl overflow-clip mx-4 mt-1">
      <div class="p-4 h-[300px] relative rounded-[var(--radius)] bg-center bg-contain" [style.background-image]="'url(' + (product?.image || '') + ')'">
        <button class="absolute top-4 right-4 text-[var(--muted-foreground)]">
          <i class="far fa-heart text-xl"></i>
        </button>
        <!-- <img -->
        <!--   src="{{product?.image || ''}}" -->
        <!--   alt="{{product?.title || ''}}" class="mx-auto object-cover"> -->
        <div class="flex justify-center items-center absolute bottom-4 left-4 font-semibold text-[var(--foreground)] rounded-full bg-[--secondary] px-2 py-1">
          <span>PHP 590</span>
        </div>
        <div class="absolute bottom-4 right-4 flex items-center">
          <div class="flex gap-1">
            <ion-icon *ngFor="let i of [].constructor(product?.rating || 0)" name="star"
              class="w-[24px] h-[48px] text-yellow-400"></ion-icon>
          </div>

          <span class="ml-2 text-xl font-semibold text-[var(--foreground)]">{{product?.rating}}</span>
        </div>
      </div>
    </div>

    <!-- Product Title and Share -->
    <div class="px-4 py-2 flex justify-between items-center">
      <h2 class="text-2xl font-bold text-[var(--foreground)]">{{product?.title || ''}}</h2>
      <button class="text-[var(--foreground)]">
        <ion-icon name="share-social-outline" class="w-[32px] h-[32px]"></ion-icon>
      </button>
    </div>

    <!-- Color Options -->
    <div class="px-4 py-2">
      <h3 class="text-xl font-bold mb-3 text-[var(--muted-foreground)]">Color:</h3>
      <div class="flex space-x-4">
        <div
          *ngFor="let color of colors"
          class="size-16 shadow-lg"
          style="background-color: {{color}}"
          [ngClass]="selectedColor() === color? 'rounded-full': 'rounded-xl'"
          (click)="updateColor(color)"
        ></div>
      </div>
    </div>

    <!-- Size Options -->
    <div class="px-4 py-2">
      <h3 class="text-xl font-bold mb-3 text-[var(--muted-foreground)]">Size:</h3>
      <div class="flex space-x-4">
        <a
          (click)="updateSize(size)"
          *ngFor="let size of sizes()"
          class="shadow-md size-16 bg-[var(--background)]  text-[var(--foreground)] flex items-center justify-center font-medium"
          [ngClass]="selectedSize() === size? 'rounded-full border' : 'rounded-[var(--radius)]'"
        >
          <span class="text-[--muted-foreground] text-2xl">{{size}}</span>
        </a>
      </div>
    </div>

    <!-- Description -->
    <div class="px-4 py-2">
      <h3 class="text-xl font-bold mb-2 text-[var(--muted-foreground)]">Description</h3>
      <p class="text-[var(--muted-foreground)] text-sm">
        {{product?.description}}
      </p>
    </div>

    <!-- Reviews -->
    <div class="px-4 py-2 mt-2 border-t border-[var(--border)]">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <span class="text-2xl font-bold text-[var(--foreground)]">5.0</span>
          <i class="fas fa-star star-rating ml-1"></i>
          <span class="ml-2 font-semibold text-xl text-[var(--muted-foreground)]">Reviews (1,432)</span>
        </div>
        <button class="font-bold text-[var(--muted-foreground)]">See More</button>
      </div>

      <div class="flex flex-col gap-6 mt-4">
        <div class="flex gap-4" *ngFor="let review of product?.reviews">

          <!-- Avatar -->
          <div class="rounded-full size-12 bg-gray-700 border-2 border-[--background] shadow-md"></div>

          <div class="flex-1">

            <div class="flex justify-between items-start">
              <div>
                <h2 class="text-[--foreground] font-bold text-lg m-0">{{review.username}}</h2>
                <span>
                <ion-icon *ngFor="let i of [].constructor(product?.rating || 0)" name="star"
                  class="size-4 text-yellow-400 m-0"></ion-icon>
                  </span>
              </div>

              <p class="text-sm font-semibold text-[--muted-foreground]">{{review.date}}</p>
            </div>

            <div class="shadow-[0px_3px_12px_-5px_rgba(0,0,0,0.75)] rounded-xl text-[--muted-foreground] p-4">
              {{review.comment}}
            </div>
          </div>

        </div>
      </div>

      <div class="h-12"></div>

    </div>


    <!-- Action Buttons -->
    <div class="fixed bottom-0 left-0 right-0 max-w-md mx-auto flex justify-between p-2 select-none">
      <div
        (click)="addToCart()"
        class="flex-1 mr-2 bg-[var(--background)] shadow-[0_4px_10px_rgba(0,0,0,0.5)] text-[var(--foreground)] rounded-full flex items-center justify-center font-semibold">
      <ion-icon name="cart-outline" class="w-[24px] h-[48px] mr-2"></ion-icon>
        Add To Cart
      </div>
      <div
        class="flex-1 shadow-[0_0_10px_rgba(251,146,60,0.8)] ml-2 bg-[var(--destructive)] text-[var(--destructive-foreground)] rounded-full flex items-center justify-center font-semibold">
        Buy Now
      </div>
    </div>

  </div>

</div>
